{{#if sid}}
<div class="d-flex flex-column align-items-center">
<p class="fs-5 text-white">Success!</p>
<a class="fs-5 mb-3 text-info text-decoration-none" id="short-url" href="/{{sid}}">http://localhost:3000/{{sid}}</a>
<button type="button" class="btn btn-primary" id="copy-btn" onclick="onCopyBtnClick()">Copy</button>
</div>
{{else}}
<form action="/shorten" method="post" class="d-flex flex-column align-items-center needs-validation" id="shorten-form" novalidate>
  <div class="mb-3 w-75">
    <input type="text" class="form-control" name="longURL" id="long-url" placeholder="https://example.com/" required>
    <div id="alert-label" class="invalid-feedback"></div>
  </div>
  <button type="submit" id="shorten-btn" class="btn btn-primary">Shorten</button>
</form>
{{/if}}